<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="winapp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="fatiao.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <winapp.Properties.Settings>
      <setting name="程序名" serializeAs="String">
        <value />
      </setting>
      <setting name="运行次数" serializeAs="String">
        <value />
      </setting>
      <setting name="按键一名" serializeAs="String">
        <value>按键一</value>
      </setting>
      <setting name="按键二名" serializeAs="String">
        <value />
      </setting>
      <setting name="按键三名" serializeAs="String">
        <value />
      </setting>
      <setting name="按键四名" serializeAs="String">
        <value />
      </setting>
      <setting name="打开程序" serializeAs="String">
        <value />
      </setting>
      <setting name="关闭程序" serializeAs="String">
        <value />
      </setting>
      <setting name="按键一" serializeAs="String">
        <value />
      </setting>
      <setting name="按键二" serializeAs="String">
        <value />
      </setting>
      <setting name="按键三" serializeAs="String">
        <value />
      </setting>
      <setting name="按键四" serializeAs="String">
        <value />
      </setting>
      <setting name="快捷键一" serializeAs="String">
        <value />
      </setting>
      <setting name="快捷键二" serializeAs="String">
        <value />
      </setting>
      <setting name="快捷键三" serializeAs="String">
        <value />
      </setting>
      <setting name="快捷键四" serializeAs="String">
        <value />
      </setting>
      <setting name="按键一位置X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="按键二位置X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="按键三位置X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="按键四位置X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="文本位置X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="运行次数位置X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="窗口大小X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="按键一位置Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="按键二位置Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="按键三位置Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="按键四位置Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="文本位置Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="运行次数位置Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="窗口大小Y" serializeAs="String">
        <value>0</value>
      </setting>
    </winapp.Properties.Settings>
    <fatiao.Properties.Settings>
      <setting name="执行次数" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="用户名" serializeAs="String">
        <value/>
      </setting>
      <setting name="运行快捷键" serializeAs="String">
        <value>Ctrl + F10</value>
      </setting>
      <setting name="暂停快捷键" serializeAs="String">
        <value>Ctrl + F11</value>
      </setting>
      <setting name="记住密码" serializeAs="String">
        <value/>
      </setting>
      <setting name="记住密码勾选" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="调试快捷键" serializeAs="String">
        <value>Ctrl + F12</value>
      </setting>
      <setting name="开机自启动" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="悬浮窗启动" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="自动运行勾选" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="触边滚轮1" serializeAs="String">
        <value>音量减</value>
      </setting>
      <setting name="触边滚轮2" serializeAs="String">
        <value>音量加</value>
      </setting>
      <setting name="触边滚轮3" serializeAs="String">
        <value>静音</value>
      </setting>
      <setting name="触边滚轮4" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="触边滚轮5" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="触边滚轮6" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="触边滚轮7" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="触边滚轮8" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="触边滚轮9" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="触边滚轮10" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="触边滚轮11" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="触边滚轮12" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="运行完成勾选" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="悬浮窗启动方式" serializeAs="String">
        <value/>
      </setting>
    </fatiao.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    </DbProviderFactories>
  </system.data>
</configuration>
